@font-face {
  font-family: "LEMONMILK-Regular";
  src: url('../../src/assets/fonts/LEMONMILK-Regular.otf') format('opentype');
}

@font-face {
font-family: hearthstone;
src: url('../../src/assets/fonts/hearthstone.ttf') format('truetype');
}