header {
  box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.4);
}

.nav-session-container {
height: 80px;
background-color: var(--secondary-bg-color);
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 1.5rem;
}

.nav-list-container {
display: flex;
list-style-type: none;
}

.nav-session-list-item {
display: flex;
align-items: center;
}

.nav-logo-button {
display: flex;
justify-content: flex-end;
align-items: center;
padding: 0 1.5rem;
color: transparent;
width: fit-content;
height: 80px;
border: none;
background-color: var(--secondary-bg-color);
cursor: pointer;
}

.logo {
  position: relative;
  width: 60px;
  margin: 20px 0;
  left: 2%;
}

.nav-list-item {
display: flex;
align-items: center;
}

.nav-list-link {
padding: 5px 10px 7px 2rem;
color: var(--secondary-font-color);
text-decoration: none;
transition: ease-in-out 0.3s;
text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.40);
}

.nav-list-link:hover {
text-shadow: 1px 6px 3px rgba(0, 0, 0, 0.40);
transition: ease-in-out 0.3s;
}

.header-button {
border: 0;
width: 196px;
padding: 1em;
color: #fff;
font-weight: bold;
font-size: 1em;
background: #8b9960;
transition: all 0.2s;
border-radius: 3px;
text-transform: uppercase;
cursor: pointer;
margin-left: 2rem;
padding-top: 0.45rem; 
padding-bottom: 0.25rem;
}

.header-button:hover {
background-color: var(--button-color-hover);
transition: ease-in-out 0.3s;
}

.header-button:active {
background-color: var(--button-color-active);
transition: ease-in-out 0.3s;
}

/* ---------------------- HEADER RESPONSIVE ------------------------------- */

@media (max-width: 600px) {
.nav-session-container {
  padding-bottom: 1rem;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}
}

@media (max-width: 500px) {
.nav-list-container {
  flex-wrap: wrap;
  justify-content: center;
}

}