footer {
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: #d8d7d0;
  height: 100px;
}

.footer-container {
  height: 80px;
  background-color: var(--footer-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-list-container {
  display: flex;
  list-style-type: none;
}

.footer-list-item {
  display: flex;
  align-items: center;
}