@import './styles/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--main-font-color);
  background-size: 100vw;
  font-size: 1rem;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: calc(100vh - 257px);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}